@model GexpoTechCMS.Models.AppModels.PostModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = Model.Title;
    ViewData["PropertyImage"] = Helpers.BaseUrl(Helpers.GetPostImage(Model.PostID, "Post"));
    string active_theme = Helpers.GetActiveTheme();

    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");


    string PostTitle = (SessionLanguage == "en") ? Model.Title : Helpers.GetTranslatableData(Model.Title, SessionLanguage, Model.PostID, "Posts", "Title");
    string PostContent = (SessionLanguage == "en") ? Model.Content : Helpers.GetTranslatableData(Model.Content, SessionLanguage, Model.PostID, "Posts", "Content");
}

<main id="main">
    <!-- Action messages partial -->
    <partial name="~/Views/Shared/TemplatesLayout/Common/_ProcessMessage.cshtml" />

    <br />
    <div class="row @ViewBag.SpacerMargin"></div>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
            </ol>
            <h2>@PostTitle</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="@Helpers.GetPostImage(Model.PostID, "Post")" alt="" class="img-fluid w-100">
                            @if (!string.IsNullOrEmpty(Model.ImageCaption))
                            {
                                <div class="bg-dark" style="background: #212121">
                                    <p class="text-white p-1">
                                        <small>
                                            @Model.ImageCaption
                                        </small>
                                    </p>
                                </div>
                            }
                        </div>

                        <h2 class="entry-title">
                            <a href="#">@PostTitle</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">@ProfileHelpers.GetAccountData(Model.Author, "FullName")</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="@Model.CreatedAt">@Helpers.FormatDate(Model.CreatedAt.ToString())</time></a></li>
                            </ul>
                        </div>
                        <div class="col-12 mt-2 mb-4">
                            <span>Category</span>
                            @PostsHelpers.FormatPostCategories(Model.Categories)
                        </div>

                        <div class="entry-content">
                            @Html.Raw(PostContent)
                        </div>
                        <div class="row mt-1 mb-2">
                            @if (Helpers.DocumentHasGallery(Model.PostID))
                            {
                                <div class="col-lg-12 portfolio-details">
                                    <div class="portfolio-details-slider swiper-container">
                                        <div class="swiper-wrapper align-items-center">

                                            @TempoTemplateHelpers.GetPostGalleryImages(Model.PostID)

                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                @{
                                    if (!string.IsNullOrEmpty(Model.PostTags))
                                    {
                                        string[] PostTagsList = Model.PostTags.Split(",");

                                        // Loop over tags list.
                                        foreach (string tag in PostTagsList)
                                        {
                                            <li><a asp-action="@tag.Replace(" ","")" asp-controller="Tags">@tag</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>

                    </article>
                    <!-- End blog entry -->

                    <div class="blog-author d-flex align-items-center">
                        <img src="@ProfileHelpers.GetAccountProfilePicture(Model.Author)" class="rounded-circle float-left" alt="">
                        <div>
                            <h4>@ProfileHelpers.GetAccountData(Model.Author, "FullName")</h4>
                            @*<div class="social-links">
                                    <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                                </div>*@
                            <p>
                                @ProfileHelpers.GetAccountData(Model.Author, "Description")
                            </p>
                        </div>
                    </div>
                    <!-- End blog author bio -->

                    <div class="row">
                        <div class="w-100">
                            <!-- GETSHOW FB COMMENTS FORM -->
                            <partial name="~/Views/Shared/TemplatesLayout/Common/_FBCommentForm.cshtml" />
                        </div>
                    </div>
                </div>
                <!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form asp-action="Index" asp-controller="Search" method="get" id="searchInput">
                                <input type="text" id="q" name="q" placeholder="What would you like to search for?" pattern=".{2,}" title="please type 2 or more characters" required>
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                @{
                                    if (!string.IsNullOrEmpty(ViewBag.PopularCategories))
                                    {

                                        string[] PopularCategoriesList = ViewBag.PopularCategories.Split(",");

                                        // Loop over categories list.
                                        foreach (string category in PopularCategoriesList)
                                        {
                                            <li><a asp-action="@category" asp-controller="Category">@category <span>(@PostsHelpers.GetCategoryCount(category))</span></a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div><!-- End sidebar categories-->


                        <div class="sidebar-item recent-posts">

                            @if (ViewBag.PopularPostsCount > 0)
                            {
                                <h3 class="sidebar-title">Popular Posts</h3>
                                <div class="row">
                                    @foreach (var post in ViewBag.PopularPostsData)
                                    {
                                        string PopularPostTitle = PostsHelpers.GetPostData(post.DocumentID, "Title");
                                        string Slug = PostsHelpers.GetPostData(post.DocumentID, "Slug");
                                        string CreatedAt = PostsHelpers.GetPostData(post.DocumentID, "CreatedAt");
                                        <div class="post-item clearfix">
                                            <img src="@Helpers.GetPostImage(post.DocumentID, "Post")" alt="@Helpers.FormatLongText(PopularPostTitle, 100)">
                                            <h4><a href="/Post/@Slug">@Helpers.FormatLongText(PopularPostTitle, 100)</a></h4>
                                            <time datetime="@CreatedAt"> @Helpers.FormatDate(CreatedAt)</time>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                        <!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @{
                                    if (!string.IsNullOrEmpty(ViewBag.PopularTags))
                                    {
                                        string[] PopularTagsList = ViewBag.PopularTags.Split(",");

                                        // Loop over list.
                                        foreach (string tag in PopularTagsList)
                                        {
                                            <li><a asp-action="@tag" asp-controller="Tags">@tag</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main>