@model IEnumerable<GexpoTechCMS.Models.AppModels.DonationCampaignsModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = "Donate";
    string active_theme = Helpers.GetActiveTheme();

    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");
}

@if (active_theme == "MyBiz")
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- HEAD PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/MyBizTheme/Partials/_Head.cshtml" />
    </head>

    <body>

        <!-- TOP BAR PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/MyBizTheme/Partials/_TopBar.cshtml" />

        <!-- HEAD NAV PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/MyBizTheme/Partials/_Navigation.cshtml" />

        <main id="main">
            <!-- Action messages partial -->
            <partial name="~/Views/Shared/TemplatesLayout/Common/_ProcessMessage.cshtml" />

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs mt-2">
                <div class="container">

                    <ol>
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>Donate</li>
                    </ol>

                </div>
            </section>
            <!-- End Breadcrumbs -->

            <br />
            <!-- ======= Donate Details Section ======= -->
            <section class="inner-page">
                <div class="container-fluid">
                    @foreach (var item in Model)
                    {
                        string DonateTitle = (SessionLanguage == "en") ? item.CampaignTitle : Helpers.GetTranslatableData(item.CampaignTitle, SessionLanguage, item.DonationID, "DonationCampaigns", "Title");
                        string DonateDescription = (SessionLanguage == "en") ? item.CampaignDescription : Helpers.GetTranslatableData(item.CampaignDescription, SessionLanguage, item.DonationID, "DonationCampaigns", "Description");
                        string CampaignImage = (!string.IsNullOrEmpty(item.CampaignImage)) ? "/campaigns/images/" + item.CampaignImage : "/images/default-donation.jpg";
                        string DonateImage = (!string.IsNullOrEmpty(item.CampaignImage)) ? "/campaigns/images/" + item.CampaignImage : "/images/default-donation-button.png";
                        string DonateLink = (!string.IsNullOrEmpty(item.Link)) ? item.Link : "#";


                        if (item.DonationType == "Bank")
                        {
                            <div class="row">
                                <h1 class="text-lead text-center">@DonateTitle</h1>
                                <div class="col-sm-12">
                                    @DonateDescription
                                </div>
                            </div>
                            <hr class="mt-5 mb-5" />
                        }
                        else if (item.DonationType == "Embed")
                        {
                            <div class="row">
                                <div class="col-sm-12 col-md-7">
                                    <iframe src="@item.Link" class="w-100 donor-iframe" title="@DonateTitle">
                                    </iframe>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <img src="@CampaignImage" class="w-100 donor-image" alt="@DonateTitle">
                                    <div class="portfolio-description mt-2">
                                        <h2>@DonateTitle</h2>
                                        @Html.Raw(DonateDescription)
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-5 mb-5" />
                        }
                        else if (item.DonationType == "Url")
                        {
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <a href="@DonateLink" target="_blank" class="text-dark text-decoration-none">
                                                <img src="@DonateImage" target="_blank" class="w-100 donor-image" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-description mt-2">
                                        <div class="portfolio-description mt-2">
                                            <h2>
                                                <a href="@DonateLink" target="_blank" class="text-dark text-decoration-none">
                                                    @DonateTitle
                                                </a>
                                            </h2>
                                            <a href="@DonateLink" target="_blank" class="text-dark text-decoration-none">
                                                @Html.Raw(DonateDescription)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-5 mb-5" />
                        }
                    }
                </div>
            </section>
            <!-- End Donate Section -->
        </main>
        <!-- End #main -->
        <!-- FOOTER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/MyBizTheme/Partials/_Footer.cshtml" />

        <!-- FOOTER SCRIPTS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/MyBizTheme/Partials/_FooterScripts.cshtml" />

    </body>

</html>
}
