@using NgoExpoApp.App_Code
@{ 
    int Month = DateTime.Now.Month;
    int Year = DateTime.Now.Year;
    int TimeRange = -30;
}
<script>
		document.addEventListener("DOMContentLoaded", function() {
			var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
			var gradient = ctx.createLinearGradient(0, 0, 0, 225);
			gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
			gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
			// Line chart
			new Chart(document.getElementById("chartjs-dashboard-line"), {
				type: "line",
				data: {
					labels: ["@DateTime.Now.AddDays(-9).ToString("MMM") @DateTime.Now.AddDays(-9).Day",
							"@DateTime.Now.AddDays(-8).ToString("MMM") @DateTime.Now.AddDays(-8).Day",
							"@DateTime.Now.AddDays(-7).ToString("MMM") @DateTime.Now.AddDays(-7).Day",
							"@DateTime.Now.AddDays(-6).ToString("MMM") @DateTime.Now.AddDays(-6).Day",
							"@DateTime.Now.AddDays(-5).ToString("MMM") @DateTime.Now.AddDays(-5).Day",
							"@DateTime.Now.AddDays(-4).ToString("MMM") @DateTime.Now.AddDays(-4).Day",
							"@DateTime.Now.AddDays(-3).ToString("MMM") @DateTime.Now.AddDays(-3).Day",
							"@DateTime.Now.AddDays(-2).ToString("MMM") @DateTime.Now.AddDays(-2).Day",
							"@DateTime.Now.AddDays(-1).ToString("MMM") @DateTime.Now.AddDays(-1).Day",
							"@DateTime.Now.AddDays(0).ToString("MMM") @DateTime.Now.AddDays(0).Day"],
					datasets: [{
						label: "Visit",
						fill: true,
						backgroundColor: gradient,
						borderColor: window.theme.primary,
						data: [
							@Helpers.GetTotalViewsPerDay(-9, Month, Year),
							@Helpers.GetTotalViewsPerDay(-8, Month, Year),
							@Helpers.GetTotalViewsPerDay(-7, Month, Year),
							@Helpers.GetTotalViewsPerDay(-6, Month, Year),
							@Helpers.GetTotalViewsPerDay(-5, Month, Year),
							@Helpers.GetTotalViewsPerDay(-4, Month, Year),
							@Helpers.GetTotalViewsPerDay(-3, Month, Year),
							@Helpers.GetTotalViewsPerDay(-2, Month, Year),
							@Helpers.GetTotalViewsPerDay(-1, Month, Year),
							@Helpers.GetTotalViewsPerDay(0, Month, Year)
						]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 1000
							},
							display: true,
							borderDash: [3, 3],
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}]
					}
				}
			});
		});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: [
                    "Chrome",
                    "Firefox",
                    "IE",
                    "Safari"
                ],
                datasets: [{
                    data: [
                           @Helpers.GetTotalBrowserVisits("Chrome"),
                           @Helpers.GetTotalBrowserVisits("Firefox"),
                           @Helpers.GetTotalBrowserVisits("Explorer"),
                           @Helpers.GetTotalBrowserVisits("Safari")
                    ],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "This year",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [
                        @Helpers.GetTotalViewsPerMonth(01, Year),
                        @Helpers.GetTotalViewsPerMonth(02, Year),
                        @Helpers.GetTotalViewsPerMonth(03, Year),
                        @Helpers.GetTotalViewsPerMonth(04, Year),
                        @Helpers.GetTotalViewsPerMonth(05, Year),
                        @Helpers.GetTotalViewsPerMonth(06, Year),
                        @Helpers.GetTotalViewsPerMonth(07, Year),
                        @Helpers.GetTotalViewsPerMonth(08, Year),
                        @Helpers.GetTotalViewsPerMonth(09, Year),
                        @Helpers.GetTotalViewsPerMonth(10, Year),
                        @Helpers.GetTotalViewsPerMonth(11, Year),
                        @Helpers.GetTotalViewsPerMonth(12, Year)
                    ],
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {
                            stepSize: 20
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            color: "transparent"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var markers = [
        //get live visitors as past 30 minutes
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(0, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(0, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(0, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(1, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(1, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(1, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(2, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(2, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(2, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(3, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(3, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(3, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(4, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(4, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(4, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(5, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(5, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(5, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(6, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(6, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(6, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(7, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(7, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(7, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(8, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(8, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(8, TimeRange), "City")'
            },
            {
                coords: [@Helpers.GetIpInfo(Helpers.GetRecentIP(9, TimeRange), "Latitude"), @Helpers.GetIpInfo(Helpers.GetRecentIP(9, TimeRange), "Longitude")],
                name: '@Helpers.GetIpInfo(Helpers.GetRecentIP(9, TimeRange), "City")'
            }
        ];
        var map = new JsVectorMap({
            map: "world",
            selector: "#world_map",
            zoomButtons: true,
            markers: markers,
            markerStyle: {
                initial: {
                    r: 9,
                    strokeWidth: 7,
                    stokeOpacity: .4,
                    fill: window.theme.primary
                },
                hover: {
                    fill: window.theme.primary,
                    stroke: window.theme.primary
                }
            }
        });
        window.addEventListener("resize", () => {
            map.updateSize();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
            nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
        });
    });
</script>