@model IEnumerable<GexpoTechCMS.Models.AppModels.CategoryModel>
@using NgoExpoApp.App_Code
@{
    ViewData["Title"] = "Categories";

    //used to enable admin sidebar
    ViewBag.LoggedInPage = "true";

    //used for setting breadcrumb
    ViewData["BreadCrumb-0"] = "Posts";
    ViewData["BreadCrumb-0-Text"] = "Posts";
    ViewData["BreadCrumb-1"] = null;
    ViewData["BreadCrumb-1-Text"] = null;

    //used for setting active left sidebar
    ViewBag.ActiveTab = "Categories";

    //set return view for add categorty modal
    ViewBag.ReturnView = "Categories";
}

<div class="container-fluid p-0">

    <!-- ADMIN SCRIPTS -->
    <partial name="~/Views/Shared/AccountLayout/_AdminScript.cshtml" />

    <!-- SEARCH RESULT DIV -->
    <partial name="~/Views/Shared/AccountLayout/_AdminSearchList.cshtml" />

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Categories</strong></h3>
        </div>

        <!-- BREADCRUMB RECENT VISITS -->
        <partial name="~/Views/Shared/AccountLayout/_Breadcrumbs.cshtml" />
    </div>

    <!-- Action messages partial -->
    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Helpers.FormatAlert(Model.Count()) Categories</h5>
                    <a href="#addCategoryModal" data-toggle="modal" data-target="#addCategoryModal" class="btn btn-outline-primary clear-category-form float-right">
                        <i class="align-middle" data-feather="plus"></i>
                        Add Category
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Order</th>
                                    <th>Status</th>
                                    <th class="d-none d-md-table-cell">Created At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @Helpers.FormatLongText(item.ShortDescription, 100)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order)
                                        </td>
                                        <td>
                                            @Helpers.FormatStatus(item.Status.ToString())
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            @Helpers.FormatDate(item.CreatedAt.ToString())
                                        </td>
                                        <td class="table-action">
                                            <a class="text-decoration-none text-primary edit-category" data-id="@item.CategoryID" data-name="@item.CategoryName"
                                               data-description="@item.ShortDescription" data-icon="@item.Icon" data-order="@item.Order" data-status="@item.Status">
                                                <i class="align-middle" data-feather="edit-2"></i>
                                            </a>
                                            <a class="text-decoration-none text-danger delete-record" data-title="Delete Category" data-label="Category" data-key="@item.CategoryID"
                                               data-action="/Admin/DeleteRecord" data-model="Category" data-view="Categories" data-route-id="">
                                                <i class="align-middle" data-feather="trash"></i>
                                            </a>
                                            <a asp-action="AddDataTranslation" asp-controller="Admin" asp-route-key="@item.CategoryID" asp-route-key-name="CategoryID" asp-route-model="Category" asp-route-title="CategoryName"
                                               asp-route-desc="" asp-route-cont="" asp-route-view="Categories" class="text-decoration-none text-info">
                                                <i class="align-middle" data-feather="globe"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN MODALS -->
<partial name="~/Views/Shared/AccountLayout/_AdminModals.cshtml" />