@model IEnumerable<GexpoTechCMS.Models.AppModels.PartnerModel>
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = "Partners";

    //used to enable admin sidebar
    ViewBag.LoggedInPage = "true";

    //used for setting breadcrumb
    ViewData["BreadCrumb-0"] = null;
    ViewData["BreadCrumb-0-Text"] = null;
    ViewData["BreadCrumb-1"] = null;
    ViewData["BreadCrumb-1-Text"] = null;

    //used for setting active left sidebar
    ViewBag.ActiveTab = "Partners";
}

<div class="container-fluid p-0">

    <!-- ADMIN SCRIPTS -->
    <partial name="~/Views/Shared/AccountLayout/_AdminScript.cshtml" />

    <!-- SEARCH RESULT DIV -->
    <partial name="~/Views/Shared/AccountLayout/_AdminSearchList.cshtml" />

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Portfolio</strong></h3>
        </div>

        <!-- BREADCRUMB RECENT VISITS -->
        <partial name="~/Views/Shared/AccountLayout/_Breadcrumbs.cshtml" />
    </div>

    <!-- Action messages partial -->
    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Helpers.FormatAlert(Model.Count()) Partner(s)</h5>
                    <a asp-action="NewPartner" asp-controller="Admin" class="btn btn-outline-primary float-right">
                        <i class="align-middle" data-feather="plus"></i>
                        Add Partner
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th>Partner Logo</th>
                                    <th>Name</th>
                                    <th>Link</th>
                                    <th class="d-none d-md-table-cell">Created At</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/partners/images/@item.Logo" class="img-thumbnail" width="175" alt="img-thumbnail">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartnerName)
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.Link))
                                            {
                                                <span>
                                                    <a href="@item.Link" target="_blank">
                                                        Link
                                                    </a>
                                                </span>
                                            }
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            @Helpers.FormatDate(item.CreatedAt.ToString())
                                        </td>
                                        <td>
                                            @Helpers.FormatStatus(item.Status.ToString())
                                        </td>
                                        <td class="table-action">
                                            <a asp-action="EditPartner" asp-controller="Admin" asp-route-id="@item.PartnerID" class="text-primary text-decoration-none">
                                                <i class="align-middle" data-feather="edit-2"></i>
                                            </a>
                                            <a class="text-decoration-none text-danger delete-record" data-title="Remove Partner" data-label="Partner"
                                               data-key="@item.PartnerID" data-action="/Admin/DeleteRecord" data-model="Partner" data-view="Partners" data-route-id="">
                                                <i class="align-middle" data-feather="trash"></i>
                                            </a>
                                            <a asp-action="AddDataTranslation" asp-controller="Admin" asp-route-key="@item.PartnerID" asp-route-key-name="PartnerID" asp-route-model="Partner" asp-route-title="PartnerName"
                                               asp-route-desc="" asp-route-cont="" asp-route-view="Partners" class="text-decoration-none text-info">
                                                <i class="align-middle" data-feather="globe"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN MODALS -->
<partial name="~/Views/Shared/AccountLayout/_AdminModals.cshtml" />