@model IEnumerable<GexpoTechCMS.Models.AppModels.PostModel>
@using NgoExpoApp.App_Code
@{
    ViewData["Title"] = "Posts";

    //used to enable admin sidebar
    ViewBag.LoggedInPage = "true";

    //used for setting breadcrumb
    ViewData["BreadCrumb-0"] = null;
    ViewData["BreadCrumb-0-Text"] = null;
    ViewData["BreadCrumb-1"] = null;
    ViewData["BreadCrumb-1-Text"] = null;

    //used for setting active left sidebar
    ViewBag.ActiveTab = "Posts";

    int row_count = 0;
}

<div class="container-fluid p-0">

    <!-- ADMIN SCRIPTS -->
    <partial name="~/Views/Shared/AccountLayout/_AdminScript.cshtml" />

    <!-- SEARCH RESULT DIV -->
    <partial name="~/Views/Shared/AccountLayout/_AdminSearchList.cshtml" />

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Posts</strong></h3>
        </div>

        <!-- BREADCRUMB RECENT VISITS -->
        <partial name="~/Views/Shared/AccountLayout/_Breadcrumbs.cshtml" />
    </div>

    <!-- Action messages partial -->
    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Helpers.FormatAlert(Model.Count()) Posts</h5>
                    <a asp-action="NewPost" asp-controller="Admin" class="btn btn-outline-primary float-right">
                        <i class="align-middle" data-feather="plus"></i>
                        Add Post
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Link</th>
                                    <th class="d-none d-md-table-cell">Created At</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    row_count++;
                                    <tr>
                                        <td>
                                            @row_count
                                        </td>
                                        <td>
                                            <a asp-action="EditPost" asp-controller="Admin" asp-route-id="@item.PostID" class="text-decoration-none text-dark">
                                                <img src="@Helpers.GetPostImage(item.PostID, "Post")" class="img-thumbnail" width="150" height="100" alt="@Helpers.FormatLongText(item.Title, 100)">
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="EditPost" asp-controller="Admin" asp-route-id="@item.PostID" class="text-decoration-none text-dark">
                                                @Helpers.FormatLongText(item.Title, 100)
                                            </a>
                                        </td>
                                        <td>
                                            @PostsHelpers.FormatCategories(item.Categories)
                                        </td>
                                        <td>
                                            <!-- Copy text field -->
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="/Post/@item.Slug" id="copyInput-@row_count">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="button" onclick="copyFunction(@row_count)" onmouseout="outFunc(@row_count)">
                                                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="click to copy text" id="copyTooltip-@row_count">Copy</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            @Helpers.FormatDate(item.CreatedAt.ToString())
                                        </td>
                                        <td>
                                            @Helpers.FormatStatus(item.Status.ToString())
                                        </td>
                                        <td class="table-action">
                                            <a asp-action="EditPost" asp-controller="Admin" asp-route-id="@item.PostID" class="text-decoration-none text-info">
                                                <i class="align-middle" data-feather="edit-2"></i>
                                            </a>
                                            <a class="text-decoration-none text-danger delete-record" data-title="Delete Post" data-label="Post"
                                               data-key="@item.PostID" data-action="/Admin/DeleteRecord" data-model="Posts" data-view="Posts" data-route-id="">
                                                <i class="align-middle" data-feather="trash"></i>
                                            </a>
                                            <a asp-action="AddDataTranslation" asp-controller="Admin" asp-route-key="@item.PostID" asp-route-key-name="PostID" asp-route-model="Posts" asp-route-title="Title" 
                                               asp-route-desc="ShortDescription" asp-route-cont="Content"  asp-route-view="Posts" class="text-decoration-none text-info">
                                                <i class="align-middle" data-feather="globe"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <paging total-records="ViewBag.TotalRecords"
                    page-no="ViewBag.PageNo"
                    page-size="ViewBag.PageSize"
                    show-prev-next="true"
                    show-first-last="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-gap="true">
            </paging>
        </div>
    </div>

</div>

<!-- ADMIN MODALS -->
<partial name="~/Views/Shared/AccountLayout/_AdminModals.cshtml" />